[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphene = "*"
aiohttp = "*"
aiohttp-graphql = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
graphene-sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
